 <div class="col-md-12">
<body>
   
<div class="row">

<div class="col-md-8">
      <div class="container">
         <div class="card text-center">
               <div class="card-header bg-secondary text-white">
    <h5 class="card-title text-white" >Procedimiento informado</h5>
               </div>
          <div class="card-body">
    
    <p class="card-text text-md-left"><b>Procedimiento del estudio</b></p>
<p class="card-text text-md-left">Para este estudio se le pasará un cuestionario, que será anónimo y autoevaluado y lo podrá contestar a través de internet. El cuestionario consta de 73 preguntas que pretenden evaluar : 1) datos demográficos básicos, 2) riesgos de exposición directa e indirecta a COVID-19 3) evaluación de salud mental, 4) estado de salud autopercibido en comparación con el anterior al brote de COVID-19 brote.5)  acceso a ayuda psicologica y  6) factores  que han influido en el estado de ánimo.

No hay respuestas erróneas. El tiempo estimado de respuesta es alrededor de 20 minutos. Usted podrá abandonar el proceso en cualquier momento.</p>

<p class="card-text text-md-left"><b>Aspectos éticos</b></p>
<p class="card-text text-md-left">El estudio ha sido aprobado por  el Comité de Ética de Investigación Clínica del Parc de Salut Mar. 
Le garantizamos que en todo momento se respetarán la normas éticas dictadas por la última Declaración de Hèlsinki (Fortaleza, Brasil, Octubre 2013). y de Regulación del Tratamiento Automatizado de los Datos de Carácter Personal. Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales.
Si tiene dudas o quiere aclaraciones puede hablar con nosotros.
Si acepta  su participación en el estudio , marque Si y pasará directamente al cuestionario.<p>

<p class="card-text text-md-left"><b>Acepto la participación en el estudio y doy mi conformidad al mismo</b></p>
<br>
<div class= "row">
   <div class="col-md-6">
  <button class="nav-link btn btn-success btn-sm btn-block" (click)="auth.login()" >Si</button>
   </div>
   <div class="col-md-6">
  <button class="nav-link btn btn-danger btn-sm btn-block" [routerLink]="['/investigadoras']" >No</button>
  </div>
  </div>

       </div>
  
</div>
</div>
</div>


<div class="col-md-4"> 
     <div class="container">

         <div class="card text-center">
             <div class="card-header bg-danger text-white" >
    Importante ¡¡¡
             </div>
           <div class="card-body">
    <h5 class="card-title ">Consentimiento informado</h5>
    <p class="card-text">Por favor, antes de realizar la encuesta, registre el consentimiento informado.</p>
 
       </div>
      <div class="card-footer text-muted">
    Si decide no realizar el que consemiento informado, le agradecemos el tiempo que nos ha prestado. 
  </div>
</div>
 </div>
  
</div>
</div>
  
</body>
</div>