<!-- Panel Title -->
        


<main>
  <div>


  

<!-- Separador de margen -->

<div class="col-md-2">
</div>

<!-- Comienza form con ancho 10 -->
    

  <div class="col-md-12">
<div class="form-group">
  <p> Hola </p>
</div>

<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
<div class="form-group">
  <p> Hola </p>
</div>
 
  </div>
  </div>
</main>
 
 
