<!-- Panel Title -->
        
  <div class="col-md-12">
  <div class="alert alert-secondary text-center">
    <strong>CUESTIONARIO</strong>
  </div>

<div class="contenedor">
   
    
<form class=""[formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">


<div class="form-group">
<label for="zonas"> Comunidad autónoma donde trabaja: </label>
<select  class="form-control" formControlName="zonas">
<option value = {{zonas.id}}  *ngFor="let zonas of zona" >{{zonas.comunidad}}</option>
</select>
</div>

 <div class="form-group">
 <label for="ocupacion">  ¿ Cual es su ocupación? </label>
  <select class="form-control" formControlName="ocupacion">
  <option value = {{ocupacio.id}}  *ngFor="let ocupacio of ocupaciones" >{{ocupacio.name}}</option>
</select>
</div>
<button class="button" type="submit">Enviar</button>


</form>


  </div>
  </div>
 
