<!-- Panel Title -->
        
  <div class="col-md-12">
  <div class="alert alert-secondary text-center">
    <strong>CUESTIONARIO</strong>
  </div>

<div class="contenedor">
   <div class="col-md-2">
   </div>
    <div class="col-md-10">
<form class=""[formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">


<div class="form-group">
<label for="validationCustom01"> 1. ¿ Cual es su ocupación? </label>
<select id="validationCustom01" class="form-control" formControlName="ocupacion" required>
<option value = {{ocupacio.id}}  *ngFor="let ocupacio of ocupaciones" >{{ocupacio.name}}</option>
</select>
</div>


<div class="form-group">
<label for="atiendeCovid"> 2. Genero  </label>
</div>
<div class="form-group">
<div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "gener" size="1" readonly=readonly required>
  </div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio"  formControlName="gener"  id="inlineRadio1" value="1" required>
  <label class="form-check-label" for="inlineRadio1">Hombre</label>
</div>

<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="gener"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Mujer</label>
</div>
</div>

<div class="form-group">
<label for="edad"> 3. Edad </label>
<select class="form-control" formControlName="edad" required>
<option value = {{edad.id}}  *ngFor="let edad of edades" >{{edad.name}}</option>
</select>
</div>

<div class="form-group">
<label for="ecivil">4.  Estado civil </label>
<select class="form-control" formControlName="ecivil" required>
<option value = {{ecivil.id}}  *ngFor="let ecivil of ecivils" >{{ecivil.name}}</option>
</select>
</div>

<div class="form-group">
<label for="especialidad"> 5. Especialidad médica en la que trabaja: </label>
<select class="form-control" formControlName="especialidad" required>
<option value = {{espe.id}}  *ngFor="let espe of especialidad" >{{espe.name}}</option>
</select>
</div>

<div class="form-group">
<label for="areasTrabajoCovid">6. Areas donde ha trabajado durante el periodo de pandemia: </label>
<select class="form-control" formControlName="areasTrabajoCovid" required>
<option value = {{area.id}}  *ngFor="let area of areasTrabajoCovid" >{{area.name}}</option>
</select>
</div>

<div class="form-group">
<label for="atiendeCovid"> 7. ¿Ha atendido pacientes diagnosticados de COVID-19?   </label>
</div>

<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "atiendeCovid" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="atiendeCovid"  id="inlineRadio1" value="1" required>
  <label class="form-check-label" for="inlineRadio1">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="atiendeCovid"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>
<div class="form-group">
<label for="atiendeCovid"> 8. ¿Tiene en su familia alguien que haya sido diagnosticado de COVID-19?    </label>
</div>

<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "familiarCovid" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="familiarCovid"  id="inlineRadio1" value="1" required>
  <label class="form-check-label" for="inlineRadio1">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="familiarCovid"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>

<div class="form-group">
<label for="atiendeCovid"> 9. ¿Alguno de sus amigos han sido diagnosticados de COVID 19?     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "amigoCovid" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="amigoCovid"  id="inlineRadio1" value="1" required>
  <label class="form-check-label" for="inlineRadio1">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="amigoCovid"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>

<div class="form-group">
<label for="atiendeCovid"> 10. ¿Tiene algún vecino que haya sido diagnosticado de COVID 19?     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "vecinoCovid" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="vecinoCovid"  id="inlineRadio1" value="1" required>
  <label class="form-check-label" for="inlineRadio1">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="vecinoCovid"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>

<div class="form-group">
<label for="atiendeCovid"> 11. ¿Tiene algún compañero de trabajo que haya sido diagnosticado de COVID 19?     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "compaCovid" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="compaCovid"  id="inlineRadio1" value="1" required>
  <label class="form-check-label" for="inlineRadio1">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="compaCovid"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>

<div class="form-group">
<label for="atiendeCovid"> 12. ¿Ha convivido con alguien con sospecha de síntomas  de COVID 19?      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "conviveCovid" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="conviveCovid"  id="inlineRadio1" value="1" required>
  <label class="form-check-label" for="inlineRadio1">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="conviveCovid"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>
<div class="form-group">
<label for="atiendeCovid"><b>Por favor indique la GRAVEDAD de su actual (p.ej., durante las últimas 2 semanas):     </b></label>
</div>

<div class="form-group">
<label for="atiendeCovid">13. Dificultad para quedarse dormido/a:      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "difSueno" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="difSueno"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nada</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="difSueno"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Leve</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="difSueno"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Moderado</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="difSueno"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Grave</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="difSueno"  id="inlineRadio2" value="4" required>
  <label class="form-check-label" for="inlineRadio2">Muy grave</label>
</div>

</div>

<div class="form-group">
<label for="atiendeCovid">14. Dificultad para permanecer dormido/a      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "difPerSueno" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="difPerSueno"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nada</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="difPerSueno"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Leve</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="difPerSueno"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Moderado</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="difPerSueno"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Grave</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="difPerSueno"  id="inlineRadio2" value="4" required>
  <label class="form-check-label" for="inlineRadio2">Muy grave</label>
</div>

</div>

<div class="form-group">
<label for="atiendeCovid">15. Despertarse muy temprano      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "despTemprano" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="despTemprano"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nada</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="despTemprano"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Leve</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="despTemprano"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Moderado</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="despTemprano"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Grave</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="despTemprano"  id="inlineRadio2" value="4" required>
  <label class="form-check-label" for="inlineRadio2">Muy grave</label>
</div>

</div>

<div class="form-group">
<label for="atiendeCovid">16.<b> ¿Como está de SATISFECHO/A en la actualidad con su sueño?  </b>  </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "satisSueno" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="satisSueno"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Muy satisfecho</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="satisSueno"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Satisfecho</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="satisSueno"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Neutral</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="satisSueno"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">No muy satisfecho</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="despTemprano"  id="inlineRadio2" value="4" required>
  <label class="form-check-label" for="inlineRadio2">Muy insatisfecho</label>
</div>

</div>

<div class="form-group">
<label for="atiendeCovid">17.<b> ¿En qué medida considera que su problema de sueño INTERFIERE con su funcionamiento diario (por ejemplo, fatiga durante el día, capacidad para las tareas cotidianas/trabajo, concentración, memoria, estado de ánimo etc.)?</b>      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "suenoInterfiere" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="suenoInterfiere"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nada</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="suenoInterfiere"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Leve</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="suenoInterfiere"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Moderado</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="suenoInterfiere"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Grave</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="suenoInterfiere"  id="inlineRadio2" value="4" required>
  <label class="form-check-label" for="inlineRadio2">Muy grave</label>
</div>

</div>

<div class="form-group">
<label for="atiendeCovid">18.<b> ¿En qué medida cree que LOS DEMÁS SE DAN CUENTA de su problema de sueño por lo que afecta a su calidad de vida?</b>      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "demasCuenta" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="demasCuenta"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nada</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="demasCuenta"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Leve</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="demasCuenta"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Moderado</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="demasCuenta"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Grave</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="demasCuenta"  id="inlineRadio2" value="4" required>
  <label class="form-check-label" for="inlineRadio2">Muy grave</label>
</div>

</div>

<div class="form-group">
<label for="atiendeCovid">19.<b> ¿Cuánto de PREOCUPADO/A está por su actual problema de sueño?</b>      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "preocupadoSueno" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nada</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Leve</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Moderado</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Grave</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio2" value="4" required>
  <label class="form-check-label" for="inlineRadio2">Muy grave</label>
</div>

</div>

<div class="form-group">
<label for="atiendeCovid"><b> Señale con qué frecuencia ha sufrido los siguientes problemas en los últimos 15 días:</b>      </label>
</div>

<div class="form-group">
<label for="atiendeCovid"> 20. Se ha sentido nervioso, ansioso o muy alterado     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "preocupadoSueno" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nunca</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Menos de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Más de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupadoSueno"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Casi todos los días</label>
</div>


</div>

<div class="form-group">
<label for="atiendeCovid"> 21. No ha podido dejar de preocuparse     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "dejarPreocuparse" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="dejarPreocuparse"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nunca</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="dejarPreocuparse"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Menos de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="dejarPreocuparse"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Más de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="dejarPreocuparse"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Casi todos los días</label>
</div>


</div>

<div class="form-group">
<label for="atiendeCovid"> 22. Se ha preocupado excesivamente por diferentes cosas     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "preocupaExceso" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="preocupaExceso"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nunca</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupaExceso"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Menos de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupaExceso"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Más de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="preocupaExceso"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Casi todos los días</label>
</div>


</div>

<div class="form-group">
<label for="atiendeCovid"> 23. Ha tenido dificultad para relajarse     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "dificultadRelax" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="dificultadRelax"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nunca</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="dificultadRelax"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Menos de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="dificultadRelax"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Más de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="dificultadRelax"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Casi todos los días</label>
</div>


</div>

<div class="form-group">
<label for="atiendeCovid"> 24. Se ha sentido tan intranquilo que no podía estarse quieto     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "intranquiloQuieto" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="intranquiloQuieto"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nunca</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="intranquiloQuieto"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Menos de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="intranquiloQuieto"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Más de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="intranquiloQuieto"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Casi todos los días</label>
</div>


</div>

<div class="form-group">
<label for="atiendeCovid"> 25. Se ha irritado o enfadado con facilidad      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "irritadoFacil" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="irritadoFacil"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nunca</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="irritadoFacil"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Menos de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="irritadoFacil"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Más de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="irritadoFacil"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Casi todos los días</label>
</div>


</div>

<div class="form-group">
<label for="atiendeCovid"> 26. Ha sentido miedo, como si fuera a suceder algo terrible      </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "miedoTerrible" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="miedoTerrible"  id="inlineRadio1" value="0" required>
  <label class="form-check-label" for="inlineRadio1">Nunca</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="miedoTerrible"  id="inlineRadio2" value="1" required>
  <label class="form-check-label" for="inlineRadio2">Menos de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="miedoTerrible"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Más de la mitad de los días</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="miedoTerrible"  id="inlineRadio2" value="3" required>
  <label class="form-check-label" for="inlineRadio2">Casi todos los días</label>
</div>


</div>

<button class="button" type="submit">Enviar</button>


</form>

    </div>


  </div>
  </div>
 
