<!-- Panel Title -->
        
  <div class="col-md-12">
  <div class="alert alert-secondary text-center">
    <strong>CUESTIONARIO</strong>
  </div>

<div class="contenedor">
   
    
<form class="form-inline justify-content-right"[formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

<div class="contenedor" >
   <div class="form-group">
 <label for="zonas">
      Comunidad autónoma donde trabaja:
    </label>
  <select class="custom-select" formControlName="zonas">
   <option value = {{zonas.id}}  *ngFor="let zonas of zona" >{{zonas.comunidad}}</option>
</select>
</div>

<button class="button" type="submit">Enviar</button>

</div>
</form>
  </div>
  </div>
 
