<!-- Panel Title -->
        
  <div class="col-md-12">



<div class="contenedor">
  <div class="row">
   <div class="col-md-11">
      <div class="alert alert-secondary text-center">
   <strong>CUESTIONARIO</strong>
  </div>
  </div>
 <div class="col-md-2">
    <button class="nav-link btn btn-danger" (click)="auth.logout()" >Salir sin guardar</button>
  </div>
   </div>
   </div>



      

<div class="contenedor">
   <div class="col-md-2">
   </div>
    <div class="col-md-10">
<form class="00"[formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">


<div class="form-group">
<label for="zonas"><b> Comunidad autónoma donde trabaja: </b></label>
<select  class="form-control" formControlName="zonas0" required>
<option value = {{zona.id}}  *ngFor="let zona of zonas" >{{zona.comunidad}}</option>
</select>
</div>

<div class="form-group">
<label for="validationCustom01"> 1. ¿ Cual es su ocupación? </label>
<select id="validationCustom01" class="form-control" formControlName="ocupacion1" required>
<option value = {{ocupacio.id}}  *ngFor="let ocupacio of ocupaciones" >{{ocupacio.name}}</option>
</select>
</div>


<div class="form-group">
<label for="atiendeCovid"> 2. Genero  </label>
</div>
<div class="form-group">
<div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "gener2" size="1" readonly=readonly required>
  </div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio"  formControlName="gener2"  id="inlineRadio1" value="1" required>
  <label class="form-check-label" for="inlineRadio1">Hombre</label>
</div>

<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="gener2"  id="inlineRadio2" value="2" required>
  <label class="form-check-label" for="inlineRadio2">Mujer</label>
</div>
</div>

<div class="form-group">
<label for="edad"> 3. Edad </label>
<select class="form-control" formControlName="edad3" required>
<option value = {{edad.id}}  *ngFor="let edad of edades" >{{edad.name}}</option>
</select>
</div>

<div class="form-group">
<label for="ecivil">4.  Estado civil </label>
<select class="form-control" formControlName="ecivil4" required>
<option value = {{ecivil.id}}  *ngFor="let ecivil of ecivils" >{{ecivil.name}}</option>
</select>
</div>

<div class="form-group">
<label for="atiendeCovid"> 4.1. ¿tiene personas de riesgo a su cargo ( hijos, personas ancianas, con factores de riesgo..)?   </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "ecivil41" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="ecivil41"  id="inlineRadio3111" value="1" required>
  <label class="form-check-label" for="inlineRadio3111">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="ecivil41"  id="inlineRadio4111" value="2" required>
  <label class="form-check-label" for="inlineRadio4111">No</label>
</div>
</div>


<div class="form-group">
<label for="dondeTrabaja"> 5. Lugar donde trabaja: </label>
<select class="form-control" formControlName="dondeTrabaja5" required>
<option value = {{espe.id}}  *ngFor="let espe of dondeTrabaja" >{{espe.name}}</option>
</select>
</div>

<div class="form-group">
<label for="areasTrabajoCovid"><b>6. Areas donde ha trabajado durante el periodo de pandemia: </b></label>
</div>


<div class="form-group">

   
<div class="form-check ">
  <label for="atiendeCovid">
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid6" value="1" id="defaultCheck1">
 	Planta COVID  </label>
</div>


<div class="form-check ">
  <label for="atiendeCovid"> 
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid611" value="1" id="defaultCheck1">
 Planta NO COVID </label>
</div>

<div class="form-check">
  <label for="atiendeCovid"> 
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid612" value="1" id="defaultCheck1">
  Urgencias  </label>
</div>

<div class="form-check">
  <label for="atiendeCovid"> 
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid613" value="1" id="defaultCheck1">
 	Cuidados intensivos  </label>
</div>

<div class="form-check">
  <label for="atiendeCovid"> 
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid614" value="1" id="defaultCheck1">
 	Reanimación  </label>
</div>
<div class="form-check">
  <label for="atiendeCovid"> 
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid615" value="1" id="defaultCheck1">
 	Hemodiálisis  </label>
</div>
<div class="form-check">
  <label for="atiendeCovid"> 
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid616" value="1" id="defaultCheck1">
 	Teletrabajo </label>
</div>
<div class="form-check">
  <label for="atiendeCovid"> 
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid617" value="1" id="defaultCheck1">
 	Guardias  </label>
</div>
<div class="form-check">
  <label for="atiendeCovid"> 
 <input class="form-check-input" type="checkbox" formControlName="areasTrabajoCovid618" value="1" id="defaultCheck1">
 	Otras  </label>
</div>

</div>




<div class="form-group">
<label for="atiendeCovid"> 7. ¿Ha atendido pacientes diagnosticados de COVID-19?   </label>
</div>

<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "atiendeCovid7" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="atiendeCovid7"  id="inlineRadio3" value="1" required>
  <label class="form-check-label" for="inlineRadio3">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="atiendeCovid7"  id="inlineRadio4" value="2" required>
  <label class="form-check-label" for="inlineRadio4">No</label>
</div>
</div>
<div class="form-group">
<label for="atiendeCovid"> 8. ¿Tiene en su familia alguien que haya sido diagnosticado de COVID-19?    </label>
</div>

<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "familiarCovid8" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="familiarCovid8"  id="inlineRadio5" value="1" required>
  <label class="form-check-label" for="inlineRadio5">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="familiarCovid8"  id="inlineRadio6" value="2" required>
  <label class="form-check-label" for="inlineRadio6">No</label>
</div>
</div>

<div class="form-group">
<label for="atiendeCovid"> 9. ¿Alguno de sus amigos han sido diagnosticados de COVID 19?     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "amigoCovid9" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="amigoCovid9"  id="inlineRadio7" value="1" required>
  <label class="form-check-label" for="inlineRadio7">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="amigoCovid9"  id="inlineRadio8" value="2" required>
  <label class="form-check-label" for="inlineRadio8">No</label>
</div>
</div>

<div class="form-group">
<label for="atiendeCovid"> 10. ¿Tiene algún vecino que haya sido diagnosticado de COVID 19?     </label>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
  <input class="form-control pex1" formControlName= "vecinoCovid10" size="1" readonly=readonly required>
    </div>
<div class="form-check form-check-inline">
 <input class="form-check-input" type="radio"  formControlName="vecinoCovid10"  id="inlineRadio9" value="1" required>
  <label class="form-check-label" for="inlineRadio9">Si</label>
</div>
<div class="form-check form-check-inline "  >
  <input class="form-check-input" type="radio"  formControlName="vecinoCovid10"  id="inlineRadio10" value="2" required>
  <label class="form-check-label" for="inlineRadio10">No</label>
</div>
</div>







<div class= "row">
<button type="button" class="nav-link btn btn-outline-success w-50" type="submit">Enviar</button>

 
  </div>

  <hr>
  <pre>
   
    
  </pre>


 



</form>

    </div>


  </div>
  </div>
 
